@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family:'idroid' ;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: bolder;
}

@font-face {
    font-family: 'idroider';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: bold;
}

:root {
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-tit: 'idroid', sans-serif;
    --fonte-sub: 'idroider', sans-serif;
}

body {
    background-color: rgb(81, 71, 85);
}

header {
    padding: 20px;
    background-color: rgb(197, 87, 197);
    font-family: var(--fonte-padrao);
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-tit);
}

header > p {
    margin: auto;
    max-width: 430px;
    padding: 20px;
    font-size: 0.7em;
}

header > ul {
    text-align: left;
    list-style-type: none;
}

header > ul > li {
    font-size: 0.8em;
    padding: 10px;
    display: inline-block;
}

header > ul > li > a {
    text-decoration: none;
    color: rgb(166, 241, 175);
}

section > main {
    padding: 20px;
    margin: auto;
    line-height: 1.5;
    width: 70vw;
}

.conteudo {
    background-color: white;
}

section > main > h2 {
    font-family: var(--fonte-sub);
    background-image: linear-gradient(to right, rgba(128, 0, 128, 0.462), white);
    padding: 10px;
}