@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family:'idroid' ;
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: bolder;
}

@font-face {
    font-family: 'idroider';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: bold;
}

:root {
    --fonte-padrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-tit: 'idroid', sans-serif;
    --fonte-sub: 'idroider', sans-serif;
}

body {
    background-color: rgb(81, 71, 85);
}

header {
    padding: 20px;
    background-color: rgb(147, 64, 147);
    font-family: var(--fonte-padrao);
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-tit);
}

header > p {
    margin: auto;
    max-width: 430px;
    padding: 20px;
    font-size: 0.7em;
}

header > ul {
    text-align: left;
    list-style-type: none;
}

header > ul > li {
    font-size: 0.8em;
    padding: 13px;
    display: inline-block;
}

header > ul > li > a {
    text-decoration: none;
    color: rgb(166, 241, 175);
    background-color: rgb(69, 33, 69);
    padding: 10px;
    border-radius: 10px 2px;
}

header > ul > li > a:hover {
    color: rgb(35, 53, 38);
    background-color: rgb(247, 213, 247);
    transition-duration: 0.7s;
    border-radius: 2px 10px;
}

section > main {
    padding: 10px;
    margin: auto;
    line-height: 2.5;
    width: 85vw;
    font-family: var(--fonte-padrao);
    font-size: small;
}

.conteudo {
    background-color: white;
}

section > main > h2 {
    font-family: var(--fonte-sub);
    background-image: linear-gradient(to right, rgba(128, 0, 128, 0.462), white);
    padding: 10px;
}

section > main > p > a {
    background-image: linear-gradient(to right, rgba(40, 40, 40, 0.164), rgb(91, 4, 91));
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

div {
    text-align: center;
}

img {
    width: 250px;
}

.extra {
    margin: 15px 0px 15px 0px;
    background-color: rgb(241, 212, 238);
    padding: 20px;
    border-radius: 10px;
}

.extra > p {
    font-family: var(--fonte-padrao);
    font-size: small;
}

.extra > h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.397);
    margin-bottom: 10px;
}

.extra > ul {
    font-size: 0.8em;
    padding: 10px;
    columns: 2;
}

.extra > ul > li {
    margin: ;
} 

footer {
    color: white;
    background-color: black;
    padding: 6px;
    font-family: var(--fonte-padrao);
    font-size: 0.6em;
    text-align: center;
}